@using AzureExampleWithDB.Models;
@model Book
<div class="jumbotron">
    <h1>List of Books</h1>
    <p class="lead"></p>
    <p></p>
</div>




@using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
{


<div class="form-group">
    <label>Title</label>
<br> @Html.TextBox("Title")
</div>
<div class="form-group">
    <label>Author</label>
    <br>   @Html.TextBox("Author")
</div>





    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok">&nbsp;Submit</span>
        </button>
    </div>
}


<div class="row">
    <div class="col-md-4">



        <table>

            @*@foreach (string item in Model)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }*@
        </table>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>

    @*<div>
        @Html.ActionLink("BookForm", "BookForm", "Home")
    </div>*@
