@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Überlingen, Germany<br />
    
    <abbr title="Phone">P:</abbr>
    +491786755410
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">info7314087@gmail.com</a><br />
   
</address>